---
import Atom from "../components/Atom.astro";
import Footer from "../components/Footer.astro";
import About from "../layout/About.astro";
import Landing from "../layout/Landing.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Landing></Landing>
    <About></About>
    <Footer></Footer>
</body>
</html>