---
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layout/LandingPage.astro";
---

<!doctype html>
<html lang="en">
	<head>
		

	</head>
	<body>
		
		
		
	</body>
	<Layout>
		
	</Layout>
	<Footer></Footer>
</html>
