<div class="bg-gray-100 min-h-screen flex items-center">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <!-- Columna izquierda -->
            <div class="card shadow-xl flex flex-col items-center justify-center text-center p-4">
                <h1 class="text-4xl sm:text-7xl font-bold mb-2">Acciones Atómicas</h1>
                <p class="text-lg sm:text-xl mb-4">
                    La solución que encontramos a los errores es las acciones
                    atómicas
                </p>
            </div>

            <!-- Columna derecha -->
            <div class="p-4 flex justify-center items-center">
                <div class="relative">
                    <!-- Núcleo del átomo -->
                    <div class="btn btn-secondary flex w-32 sm:w-48 h-32 sm:h-48 rounded-full opacity-70 items-center justify-center shadow-md">
                        <p class="text-white text-xl sm:text-2xl">Realizar un PDF en base al texto</p>
                    </div>
                    <!-- Electrones del átomo -->
                    <div class="absolute top-0 left-1/2 transform translate-x-[-50%] translate-y-[-150%] btn btn-secondary opacity-70 h-16 sm:h-20 w-16 sm:w-20 rounded-full flex items-center justify-center shadow-lg">
                        <p class="text-white">Analisis</p>
                    </div>
                    <div class="absolute top-1/2 right-0 transform translate-x-[150%] translate-y-[-50%] btn btn-secondary opacity-70 h-16 sm:h-20 w-16 sm:w-20 rounded-full flex items-center justify-center shadow-lg">
                        <p class="text-white">Modelado</p>
                    </div>
                    <div class="absolute bottom-0 left-1/2 transform translate-x-[-50%] translate-y-[150%] btn btn-secondary h-16 sm:h-20 w-16 sm:w-20 opacity-70 rounded-full flex items-center justify-center shadow-lg">
                        <p class="text-white">Pruebas</p>
                    </div>
                    <div class="absolute top-1/2 left-0 transform translate-x-[-150%] translate-y-[-50%] btn btn-secondary opacity-70 h-16 sm:h-20 w-16 sm:w-20 rounded-full flex items-center justify-center shadow-lg">
                        <p class="text-white">Lanzar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
