---
import Atom from "../components/Atom.astro";

---
<div class="bg-gray-100 min-h-screen flex items-center">
    <div class="container mx-auto px-4">
      <!-- Contenedor con rejilla -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Columna izquierda -->
        <div class="flex flex-col items-center justify-center text-center p-4">
          <h1 class="text-7xl font-bold mb-2">Acciones Atómicas</h1>
          <p class="text-xl mb-4">
            La solución que encontramos a los errores es las acciones
            atómicas
          </p>
          <button class="px-4 py-2 btn btn-secondary text-white rounded">Ver Átomos</button>
        </div>
        <!-- Columna derecha -->
        <Atom></Atom>
      </div>
    </div>
  </div>
  



            